@import '1-base/base-dir'

*
    box-sizing: border-box
    // border: 1px solid red

body, html 
  left: 0
  top: 0
  margin: 0px
  padding: 0px
  font-family: 'Roboto', sans-serif
  height: 100%
  width: 100%

h1, h2, h3, h4, h5 
  letter-spacing: 0.8px
  font-family: 'Roboto Slab', serif

p 
  letter-spacing: 0.5px
  font-size: 13px
  line-height: 34px
  font-weight: 300

.header__text
    font-size: 5em

.hero
    background-image: url('/images/hero.jpg')
    background-size: cover
    min-width: 100%
    min-height: 100%
    height: 100%
    width: 100%
    &__content
        position: absolute
        text-align: center
        min-width: 300px
        left: 50%
        top: 50%
        padding: 75px
        background: rgba(255, 255, 255, .9)
        outline: 4px double #fff
        outline-offset: 8px
        transform: translateX(-50%) translateY(-50%)

.section
    display: inline-block
    width: 100%
    &__title-wrapper,
        float: left
        width: 50%
        margin: 0px
        padding: 0px
        height: 100%
        +tablet
            width: 100%
            height: 200px
    &__title-about,
    &__title-projects,
    &__title-skills,
    &__title-contact
        position: relative
        text-align: center
        width: 100%
        height: 100%
        &--fixed,
            position: fixed
            top: 0
            left: 0
            width: 50%
            height: 100vh
    &__content
        width: 50%
        float: left
        padding: 65px
        height: auto
        +tablet
            width: 100%

.helper__wrapper--center
    position: relative
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)

.header__text::after
    content: ''
    position: absolute
    bottom: 10px
    left: 25%
    z-index: -1
    height: 25px
    width: 30%
    background-color: #abc

.section__title-about
    background-color: #f1f1f1
    z-index: 2
.section__title-projects
    background-color: #e1e1e1
    z-index: 3
.section__title-skills
    background-color: #d1d1d1
    z-index: 4
.section__title-contact
    background-color: #c1c1c1
    z-index: 5

.footer__wrapper
    border: 1px solid red
    position: fixed
    z-index: 1000
    width: 100%
    height: 75px
    bottom: 0
    background-color: #222

.footer__links
    li
        text-align: center
        line-height: 50px
        display: inline-block
        width: 33%
