extends layouts/layout.pug

block headerscripts
	link(rel='stylesheet', type='text/css', href='/semantic/semantic.min.css')
	// CSS
	link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

block content
	#main
		.hero
			.hero__content
				h1 Hello
				br
				p My name is Matt
				p I'm a Web Designer
		.section
			.section__title
				.title__about
					h1 About
			.section__content
				h1  Lorem ipsum dolor
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quo consectetur accusantium animi unde cum enim tenetur illum illo aspernatur nam, doloremque, quisquam veritatis optio exercitationem dolorum porro quae ullam laborum est dignissimos nesciunt. Asperiores consequuntur iusto, maiores qui laborum rem voluptatibus repellat provident necessitatibus itaque sed inventore accusantium, minus reprehenderit saepe laboriosam! Ut amet aperiam dolorum aspernatur et quo, alias aliquid qui laborum ex, eaque inventore officia, voluptate cumque incidunt ratione suscipit accusantium repudiandae. Sequi vitae sunt iusto nam! Rerum quis, maxime recusandae minima odit, libero voluptatibus? Quos ratione itaque accusamus sunt repudiandae laboriosam aperiam voluptate delectus, corrupti sequi eius quisquam dicta laudantium rem quam officiis atque fuga quia aliquam! Esse ipsam minus veritatis, sapiente aspernatur possimus sunt. Non incidunt cumque iusto delectus voluptates quae excepturi ex commodi ratione, totam, dicta sapiente optio ullam quos veritatis, error voluptatum dolores animi. Molestias iste voluptate tenetur laudantium, laborum soluta, tempore voluptatum.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptatibus porro, id, quos alias pariatur aliquam. Adipisci, omnis similique sapiente deserunt voluptate. Earum nemo veniam distinctio, esse enim sapiente velit tempora cupiditate quo libero ullam commodi! Ullam quidem itaque dicta saepe, hic cupiditate, eaque perspiciatis facilis, eveniet deleniti ratione natus praesentium. Deserunt blanditiis dolores doloribus inventore quibusdam iure sit nostrum distinctio veritatis quam, adipisci ut nulla provident vitae error culpa animi magni quas reprehenderit alias repudiandae. Doloribus reiciendis, nemo debitis accusamus. Facere rem magnam aliquam fugit ut culpa tempore reiciendis aut dolores nostrum. Magni temporibus animi exercitationem reprehenderit modi labore, voluptatem accusantium quisquam, porro consectetur facere laudantium ut, doloremque accusamus. Sint harum, temporibus optio iusto doloribus nesciunt nisi beatae, deleniti velit vitae reprehenderit quidem laborum odit voluptatum illo non porro? Voluptatibus aspernatur unde illo quod temporibus, fugiat doloribus maxime quisquam cumque impedit ad quis reiciendis nisi, labore iste nihil. Vitae.
		.section
			.section__title
				.title__projects
					h1 Projects
			.section__content
				h1  Lorem ipsum dolor sit amet
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quo consectetur accusantium animi unde cum enim tenetur illum illo aspernatur nam, doloremque, quisquam veritatis optio exercitationem dolorum porro quae ullam laborum est dignissimos nesciunt. Asperiores consequuntur iusto, maiores qui laborum rem voluptatibus repellat provident necessitatibus itaque sed inventore accusantium, minus reprehenderit saepe laboriosam! Ut amet aperiam dolorum aspernatur et quo, alias aliquid qui laborum ex, eaque inventore officia, voluptate cumque incidunt ratione suscipit accusantium repudiandae. Sequi vitae sunt iusto nam! Rerum quis, maxime recusandae minima odit, libero voluptatibus? Quos ratione itaque accusamus sunt repudiandae laboriosam aperiam voluptate delectus, corrupti sequi eius quisquam dicta laudantium rem quam officiis atque fuga quia aliquam! Esse ipsam minus veritatis, sapiente aspernatur possimus sunt. Non incidunt cumque iusto delectus voluptates quae excepturi ex commodi ratione, totam, dicta sapiente optio ullam quos veritatis, error voluptatum dolores animi. Molestias iste voluptate tenetur laudantium, laborum soluta, tempore voluptatum.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptatibus porro, id, quos alias pariatur aliquam. Adipisci, omnis similique sapiente deserunt voluptate. Earum nemo veniam distinctio, esse enim sapiente velit tempora cupiditate quo libero ullam commodi! Ullam quidem itaque dicta saepe, hic cupiditate, eaque perspiciatis facilis, eveniet deleniti ratione natus praesentium. Deserunt blanditiis dolores doloribus inventore quibusdam iure sit nostrum distinctio veritatis quam, adipisci ut nulla provident vitae error culpa animi magni quas reprehenderit alias repudiandae. Doloribus reiciendis, nemo debitis accusamus. Facere rem magnam aliquam fugit ut culpa tempore reiciendis aut dolores nostrum. Magni temporibus animi exercitationem reprehenderit modi labore, voluptatem accusantium quisquam, porro consectetur facere laudantium ut, doloremque accusamus. Sint harum, temporibus optio iusto doloribus nesciunt nisi beatae, deleniti velit vitae reprehenderit quidem laborum odit voluptatum illo non porro? Voluptatibus aspernatur unde illo quod temporibus, fugiat doloribus maxime quisquam cumque impedit ad quis reiciendis nisi, labore iste nihil. Vitae.
		.section
			.section__title
				.title__skills
					h1 Skills
			.section__content
				h1  Lorem ipsum
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quo consectetur accusantium animi unde cum enim tenetur illum illo aspernatur nam, doloremque, quisquam veritatis optio exercitationem dolorum porro quae ullam laborum est dignissimos nesciunt. Asperiores consequuntur iusto, maiores qui laborum rem voluptatibus repellat provident necessitatibus itaque sed inventore accusantium, minus reprehenderit saepe laboriosam! Ut amet aperiam dolorum aspernatur et quo, alias aliquid qui laborum ex, eaque inventore officia, voluptate cumque incidunt ratione suscipit accusantium repudiandae. Sequi vitae sunt iusto nam! Rerum quis, maxime recusandae minima odit, libero voluptatibus? Quos ratione itaque accusamus sunt repudiandae laboriosam aperiam voluptate delectus, corrupti sequi eius quisquam dicta laudantium rem quam officiis atque fuga quia aliquam! Esse ipsam minus veritatis, sapiente aspernatur possimus sunt. Non incidunt cumque iusto delectus voluptates quae excepturi ex commodi ratione, totam, dicta sapiente optio ullam quos veritatis, error voluptatum dolores animi. Molestias iste voluptate tenetur laudantium, laborum soluta, tempore voluptatum.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptatibus porro, id, quos alias pariatur aliquam. Adipisci, omnis similique sapiente deserunt voluptate. Earum nemo veniam distinctio, esse enim sapiente velit tempora cupiditate quo libero ullam commodi! Ullam quidem itaque dicta saepe, hic cupiditate, eaque perspiciatis facilis, eveniet deleniti ratione natus praesentium. Deserunt blanditiis dolores doloribus inventore quibusdam iure sit nostrum distinctio veritatis quam, adipisci ut nulla provident vitae error culpa animi magni quas reprehenderit alias repudiandae. Doloribus reiciendis, nemo debitis accusamus. Facere rem magnam aliquam fugit ut culpa tempore reiciendis aut dolores nostrum. Magni temporibus animi exercitationem reprehenderit modi labore, voluptatem accusantium quisquam, porro consectetur facere laudantium ut, doloremque accusamus. Sint harum, temporibus optio iusto doloribus nesciunt nisi beatae, deleniti velit vitae reprehenderit quidem laborum odit voluptatum illo non porro? Voluptatibus aspernatur unde illo quod temporibus, fugiat doloribus maxime quisquam cumque impedit ad quis reiciendis nisi, labore iste nihil. Vitae.
		.section
			.section__title
				.title__contact
					h1 Contact
			.section__content
				h1  Lorem
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quo consectetur accusantium animi unde cum enim tenetur illum illo aspernatur nam, doloremque, quisquam veritatis optio exercitationem dolorum porro quae ullam laborum est dignissimos nesciunt. Asperiores consequuntur iusto, maiores qui laborum rem voluptatibus repellat provident necessitatibus itaque sed inventore accusantium, minus reprehenderit saepe laboriosam! Ut amet aperiam dolorum aspernatur et quo, alias aliquid qui laborum ex, eaque inventore officia, voluptate cumque incidunt ratione suscipit accusantium repudiandae. Sequi vitae sunt iusto nam! Rerum quis, maxime recusandae minima odit, libero voluptatibus? Quos ratione itaque accusamus sunt repudiandae laboriosam aperiam voluptate delectus, corrupti sequi eius quisquam dicta laudantium rem quam officiis atque fuga quia aliquam! Esse ipsam minus veritatis, sapiente aspernatur possimus sunt. Non incidunt cumque iusto delectus voluptates quae excepturi ex commodi ratione, totam, dicta sapiente optio ullam quos veritatis, error voluptatum dolores animi. Molestias iste voluptate tenetur laudantium, laborum soluta, tempore voluptatum.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptatibus porro, id, quos alias pariatur aliquam. Adipisci, omnis similique sapiente deserunt voluptate. Earum nemo veniam distinctio, esse enim sapiente velit tempora cupiditate quo libero ullam commodi! Ullam quidem itaque dicta saepe, hic cupiditate, eaque perspiciatis facilis, eveniet deleniti ratione natus praesentium. Deserunt blanditiis dolores doloribus inventore quibusdam iure sit nostrum distinctio veritatis quam, adipisci ut nulla provident vitae error culpa animi magni quas reprehenderit alias repudiandae. Doloribus reiciendis, nemo debitis accusamus. Facere rem magnam aliquam fugit ut culpa tempore reiciendis aut dolores nostrum. Magni temporibus animi exercitationem reprehenderit modi labore, voluptatem accusantium quisquam, porro consectetur facere laudantium ut, doloremque accusamus. Sint harum, temporibus optio iusto doloribus nesciunt nisi beatae, deleniti velit vitae reprehenderit quidem laborum odit voluptatum illo non porro? Voluptatibus aspernatur unde illo quod temporibus, fugiat doloribus maxime quisquam cumque impedit ad quis reiciendis nisi, labore iste nihil. Vitae.

block footerscripts
	// jQuery
	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	// Waypoints
	script(src='/javascripts/jquery.waypoints.min.js')
	// Semantic-UI JS
	script(src='/semantic/semantic.min.js')
	// JavaScript
	script(src='/javascripts/index.js')