extends layouts/layout.pug

block headerscripts
    // CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

block content
    .main
        .hero
            .hero__content
                h1 Hello
                h4 I'm Matt
                p Full Stack Web Developer
        .section
            h1 about
        .section
            h1 projects
        .section
            h1 skills
        .section
            h1 contact

    include layouts/include/footer

block footerscripts
    // jQuery
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    //ScrollMagic
    script(src='/javascripts/vendor/ScrollMagic.min.js')
    script(src='/javascripts/vendor/debug.addIndicators.min.js')
    // JavaScript
    script(src='/javascripts/index.js')